/* Line hover styles */
#line {
    position: relative; /* Make the element position relative for pseudo-element positioning */
}

#line::before {
    content: "";
    display: block;
    width: 0; /* Set initial width to 0 */
    height: 1px; /* Set height for the line */
    background-color: rgb(60, 12, 235); /* Set the line color */
    position: absolute; /* Make the pseudo-element absolute within the element */
    left: 0; /* Position the left edge at the beginning */
    bottom: 0; /* Position the bottom edge at the bottom */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Set transition for smooth animation */
}

#line:hover::before {
    width: 100%; /* Expand the line to 100% width on hover */
   /* Move the left edge to the beginning */
}
#lineB {
    position: relative; /* Make the element position relative for pseudo-element positioning */
}

#lineB::before {
    content: "";
    display: block;
    width: 0; /* Set initial width to 0 */
    height: 1px; /* Set height for the line */
    background-color: rgb(109, 5, 228); /* Set the line color */
    position: absolute; /* Make the pseudo-element absolute within the element */
    left: 0; /* Position the left edge at the beginning */
    bottom: 0; /* Position the bottom edge at the bottom */
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out; /* Set transition for smooth animation */
}

#lineB:hover::before {
    width: 100%; /* Expand the line to 100% width on hover */
   /* Move the left edge to the beginning */
}
